@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: black;
}

#piano {
    padding: 90px 30px 1px 30px;
    background-color: #4c4c4c;
    border-radius: 10px;
    position: relative;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 

    border: 1px solid #5d5d5d;
}


.white-key {
    box-sizing: border-box;
    width: 68px;
    height: 288px;
    /* border-radius: 0 0 5px 5px; */
    /* border: solid black 1px;  */
    border-left:1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #cccccc inset, 0 0 3px rgba(0,0,0,0.2);

    cursor: pointer; 
    z-index: 1;
}

.white-key:active {
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset, 0 0 3px rgba(0,0,0,0.2);
}

.black-key {
    box-sizing: border-box;
    position: absolute; /* position key on top */
    width: 38px;
    height: 168px;
    background-color: black;
    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);

    z-index: 2;
}

.black-key:active {
    box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
}

/* black-key spacing inspired by by freeCodeCamp with Ania Kubow (YouTube) */
.black-key:nth-child(1) {
    left: 78px;
}

.black-key:nth-child(2) {
    left: 147px;
}

.black-key:nth-child(3) {
    left: 283px;
}

.black-key:nth-child(4) {
    left: 350px;
}

.black-key:nth-child(5) {
    left: 419px;
}

.black-key:nth-child(6) {
    left: 553px;
}

.black-key:nth-child(7) {
    left: 624px;
}

.black-key:nth-child(8) {
    left: 692px;
}

.black-key:nth-child(9) {
    left: 827px;
}

.black-key:nth-child(10) {
    left: 895px;
}

@media screen and (max-width: 768px) {
    #piano {
        padding: 45px 15px 0.5px 15px;
        position: relative;
        display: flex;
    }

    .white-key {
        box-sizing: border-box;
        width: 34px;
        height: 144px;   
    }

    .black-key {
        width: 19px;
        height: 84px; 
    }

    .black-key:nth-child(1) {
        left: 24px;
    }
    
    .black-key:nth-child(2) {
        left: 58.5px;
    }
    
    .black-key:nth-child(3) {
        left: 126.5px;
    }
    
    .black-key:nth-child(4) {
        left: 160px;
    }
    
    .black-key:nth-child(5) {
        left: 194.5px;
    }
    
    .black-key:nth-child(6) {
        left: 264px;
    }
    
    .black-key:nth-child(7) {
        left: 297px;
    }
    
    .black-key:nth-child(8) {
        left: 331px;
    }
    
    .black-key:nth-child(9) {
        left: 398.5px;
    }
    
    .black-key:nth-child(10) {
        left: 432.5px;
    }   
}

